<app-header></app-header>
<div class="teams_equip col-lg-12 col-md-12 col-sm-12">

    <h2 class="titulo">¿Quiénes Somos?</h2>
    <h3 class="mensaje">Si lo puedes imaginar lo puedes programar </h3>
    <div class="row col-lg-12 col-md-12 col-sm-12">
      <div class="col desarrollador_backend col-lg-4 col-md-12 col-sm-12">
        <figure class="figure col-lg-12 col-md-12 col-sm-12">
            <img src="assets/imagenes/ivan_fraga.JPG" class="figure-img img-fluid rounded" alt="20px" height="20px">
            <p class="nombre_programador">Ivan Fraga</p>
           
            <p>Es un estudiante de la Carrera de Desarrollo de Software, disfruta de los nuevos lenguajes de programación, que los numer y la programación son sus aliados 
                para crear o actualizar programas. </p>
          </figure>
    </div>
    <div class="col desarrollador_frondend col-lg-4 col-md-12 col-sm-12">
        <figure class="figure col-lg-12 col-md-12 col-sm-12">
            <img src="assets/imagenes/denisse_cumbal.JPG"class="figure-img img-fluid rounded" alt="20px" height="20px">
            <p class="nombre_programador">Denisse Cumbal</p>
             <p>Es una estudiante de la Carrera de Desarrollo de Software, que le gusta tener nuevos retos,
                que la programacion es el lugar en donde puede dar vida a sus ideas y soluciones a los problemas del mañana. 
            </p>
          </figure>
    </div>
    <div class="col desarrollador_movil col-lg-4 col-md-12 col-sm-12">
        <figure class="figure col-lg-12 col-md-12 col-sm-12">
            <img src="assets/imagenes/david_cacuango.JPG"class="figure-img img-fluid rounded" alt="20px" >
            <p class="nombre_programador">David Cacuango</p>
            
            <p>Es un estudiante de la Carrera de Desarrollo de Software, disfruta de la Investigacion de nuevos lenguajes de programacion
                Donde sus talentos se perciben en sus proyectos, laborales o estudiantiles. 
            </p>
          </figure>
    </div>
    </div>
  </div>