.Contenedos_todos_los_canciones{
   
    width: 100%;
    height: 100vh;
}
.Completo_show_canciones{
    display: flex;
}

.container h2{
    text-align: center;
    font-size: 180% ;
}
.container{
    padding-left: 5%;
    padding-right: 5%;
}
.hola{
    width: 98%;
   
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius:5px ;
    border-bottom-right-radius: 5px;
    height: 35px;
    margin-bottom: 2%;
    margin-top: 2%;
}