
   
<app-header-admin></app-header-admin>   
<div class="perfil_completo">
          
    <app-sidenav></app-sidenav>
   <div
   class="parrafo_informativo">

 
    <h2> Perfil Artista</h2>
    <p>
        En esta seccion se puede visualizar el perfil del usuario artista,el cual cuenta con  información  exclusiva del autor, el cual tiene  un avatar y sus datos personales.
   </p>    
    
<form [formGroup]="ediForm"  novalidate class="formulario_show_perfil">
 
    
  

    <img (click)="addFiles()" class="upload" [src]="this.url" alt="" />
    <br>
  
<br>
    
    <div class="mb-12">
        <label class="form-label">Nombre</label>
        <input formControlName="name" type="text" class="form-control"  required [readonly]="true" >      
    </div>
    <div class="mb-12">
        <label class="form-label">Apellido</label>
        <input formControlName="apellido" type="text" class="form-control" required [readonly]="true" >      
    </div>
    <div class="mb-12">
        <label class="form-label">Nickname</label>
        <input formControlName="nickname" type="text" class="form-control" required [readonly]="true"  >       
    </div>
    
    <button routerLink="/edit/{{usuario}}" class="btn btn-outline-secondary">Editar</button>

</form>
</div>
<hr>
</div>
<app-footer-sistem></app-footer-sistem>




 
  
