<h2> Perfil </h2>
<hr>
<form [formGroup]="ediForm"  novalidate>

    <div class="mb-3">
        <label class="form-label"></label>
        <input formControlName="name" type="text" class="form-control"  required  >      
    </div>
    <div class="mb-3">
        <label class="form-label">apellido</label>
        <input formControlName="apellido" type="text" class="form-control" required >      
    </div>
    <div class="mb-3">
        <label class="form-label">nickname</label>
        <input formControlName="nickname" type="text" class="form-control" required >       
    </div>
    
    <button routerLink="/edit/{{usuario}}" class="btn btn-outline-secondary">Editar</button>

</form>
<hr>




 
  
