.perfil_completo{
    display: flex;
    width: auto;
   
}
.mb-12{
    width: auto;
}
.formulario_show_perfil{
 

 width: 80%;
 
 margin-left: 15%;
 display: flex;
 margin-top: 7%;
}
.imagen_avatar{
    margin-top: 2%;
    width: 40%;
    margin-left: 0.5% !important;
  
}

.form_perfil{
    width: 60%;
  
}

.texto{
    padding-left: 5%;
    padding-right: 5%;
    
}
.texto h2{
    text-align: center;
    font-size: 180% ;
}

.btn{
    margin-top: 20px;
}
.imagen_perfil{
    height: 50px;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.avatar_perfil{
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid #666;
}
.imagen_avatar h2{
    margin-right: 80px;
}
.form-control{
    text-align: center;
   
}
.form-label{
    margin-top: 0.5%;
}
@media only screen and (max-width: 1200px) {

    .formulario_show_perfil{
     
        width: auto;
        display: inline;
     
        margin-left: 10%;
       
        margin-top: 7%;
     
    }  
}