.btn{
  margin-top: 90%;
  margin-left: 3%;
  margin-top: 30px;
  margin-right: 1%;
  
   
  
    height: 50px;
   

    background: #2D31FA;
    color:white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  
   
}
.id_usuario_perfil{
  margin-left: 20%;
}

.d-flex {
  height: 100%;
  width: 300px;
 
}
.dasboard_completo{
  display: flex;
  height: 600px;
}
