.contenedor{
    display: flex;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card_imagen img{
 height: 100%;
 width: 700px;
 
}
.card {
    
background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 0px, 60px;
align-items: center;
padding-right: 60px;
padding-left: 60px;
align-items: center;
text-align: center;

}
.card-header{
    color: white;
}
.card_login{
margin-top: 30px;
align-items: center;
text-align: center;
margin-left: 10px;
color: white;
}
.card_login a{
    color: white;
    text-decoration: none;
}
.componentes_login{
    align-items: center;
    text-align: center;
    justify-content:center ; 
    margin-left: 50px;
}
.btn{
    margin-top: 30px;
    border-radius: 30px;
    background: #2D31FA;
    color:white;
}
.imagen{
    margin-top: 50px;
 border-radius: 10px;   
}
.green{
    border-color: green;
}
.red{
    border-color: red; 
}


.navbar-brand{
    display:contents;
  
  }
.home{
      text-decoration: none;
    }
.error_mensaje{
    color:red
}    

    