
<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
 
    <a class="home" routerLink="home"> <img src="assets/imagenes/oficial_logo.png" alt=""></a>
      <ul class="nav">      
        <li  class="nav-item" *ngIf="!isLogged" >
          <a class="nav-link" [routerLink]="['/login']">Inicio de Sesión </a>
        </li>
        <li  class="nav-item" *ngIf="!isLogged" >
          <a class="nav-link" [routerLink]="['/register']">Registro</a>
        </li>
       
        <li  class="nav-item" *ngIf="isLogged" >
          <a class="nav-link" [routerLink]="['/dashboard']">dashboard</a>
        </li>
        
      </ul>
    </a>
  </div>
</nav>