<style>
  .navbar-brand{
    display:contents;
  
  }
  .home{
      text-decoration: none;
    }
</style>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="#" alt="" width="30" height="24" class="d-inline-block align-text-top">
    <a class="home" routerLink="home">Taki-Tri</a>
      <ul class="nav">
        <li  routerLinkActive ="active" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="sobrenosotros">Sobre Nosotros</a>
        </li>
        <li  routerLinkActive ="active" class="nav-item">
          <a class="nav-link" href="#">Inicio de Sesión</a>
        </li>
        <li routerLinkActive ="active" class="nav-item">
          <a class="nav-link" href="#">Registro</a>
        </li>
        
      </ul>
    </a>
  </div>
</nav>