<app-header></app-header>
<div class="mision_vision">
<div class="container">
    <div class="row">
      <div class="col-derecho">
        <h2>Misión</h2>
      </div>
      <div class="parrafo_mision">
          <p>
            Brindar a los artistas la oportunidad de llegar a más personas mediante la  música , 
            construyendo una identidad musical en los niños, jóvenes y adultos ecuatorianos.  
            </p>
      </div>
      
      
    </div>
  </div>
  <hr>

  <div class="container_izquierdo">
    <div class="row">
      <div class="col-izquierdo">
        <h2>Visión</h2>
      </div>
      <div class="parrafo_vision">
          <p>Comunicar mediante la música,
              donde el respeto en cada uno de los artistas se refleja en cada canción de Taki-tri,
              donde la humildad del ecuatoriano se escucha en los versos y la sinceridad en cada estrofa,
              sin dejar a un lado la  honestidad en cada nota musical que  da vida y coraje al talento ecuatoriano.
          </p>
          
      </div>
      
      
    </div>
  </div>
</div>