.Visualizacion_artistas_completa_aceptados{
    width: 100%;
    height: 100vh;
}
.formulario_completo_artistas_aceptados{
    margin-top: 30px;

    width: 100%;
    height: 90%;
   
    margin-bottom: 0% !important;
    padding-left: 5%;
    padding-right: 5%;
   
}
.formulario_completo_artistas_aceptados h2{
    text-align: center;
    font-size: 180% ;
}
.Completo_solicitud_aceptadas{
    display: flex;
}

.text-white{
    color: black;
}
.nav-link{
    color: black;
}
.nombre_list{
    color: black;
}
.hola{
    width: 99%;
    height: 50px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    border-bottom-left-radius:5px ;
    
    border-bottom-right-radius:5px ;
}
.btn{
    margin-right: 2%;
}
