
   
   <app-header-artist></app-header-artist>  
<div class="perfil_completo">
          
    <app-sidenav-user></app-sidenav-user>
   
       
    
<form [formGroup]="ediForm"  novalidate class="formulario_show_perfil">
    <h2> Perfil </h2>
    <hr>

 
   
    
   <img [src]="this.url" alt="">
    
    <div class="mb-12">
        <label class="form-label">Nombre</label>
        <input formControlName="name" type="text" class="form-control"  required [readonly]="true" >      
    </div>
    <div class="mb-12">
        <label class="form-label">Apellido</label>
        <input formControlName="apellido" type="text" class="form-control" required [readonly]="true" >      
    </div>
    <div class="mb-12">
        <label class="form-label">Nickname</label>
        <input formControlName="nickname" type="text" class="form-control" required [readonly]="true"  >       
    </div>
    
    <button routerLink="/edit-artist/{{usuario}}" class="btn btn-outline-secondary">Editar</button>

</form>

<hr>
</div>




 
  
