
<div class="Completo_show_menu">
  <div class="menu">
    <app-sidenav-user></app-sidenav-user>
  </div>
   
<div class="perfil_completo">
  <app-header-artist></app-header-artist>          
 
   
       
 <div class="texto">
    <div>
    <h2> Perfil Artista</h2>
    
    <p>
   
Este módulo te permite visualizar el perfil Artista
   </p>
   <hr>
   <div class="container">
    <div class="row">
      <div class="col col-lg-5">
      
      </div>
      <div class="col col-lg-4">
        
      </div>
      <div class="col1 col-lg-2">
      <!--<button  routerLink="/dashboard-user" type="submit" class="btn btn-primary w-100 ">Regresar</button> -->  
      </div>
    </div>
  </div>
</div>

<form [formGroup]="ediForm"  novalidate class="formulario_show_perfil">
   
    
    <div class="imagen_avatar">
    
   <img [src]="this.url" class="avatar_perfil">

 <h2>Artista</h2>
    </div>
    <div class="form_perfil">
    <div class="mb-12">
        <label class="form-label">Nombre</label>
        <input formControlName="name" type="text" class="form-control"  required [readonly]="true" >      
    </div>
    <div class="mb-12">
        <label class="form-label">Apellido</label>
        <input formControlName="apellido" type="text" class="form-control" required [readonly]="true" >      
    </div>
    <div class="mb-12">
        <label class="form-label">Alias</label>
        <input formControlName="nickname" type="text" class="form-control" required [readonly]="true"  >       
    </div>
    <div class="mb-12">
        <label class="form-label">Fecha Nacimiento</label>
        <input formControlName="fecha_nacimiento" type="text" class="form-control" required [readonly]="true"  >       
    </div>
    
    <button routerLink="/edit-artist/{{usuario}}" class="btn btn-primary w-100">Editar</button>
</div>


</form>
</div>

</div>
</div> 







 
  
