<app-header></app-header>
<div class="card mt-5" *ngIf="user$ |async as user;else loading">

    <div class="card-body">
      <img src="../../assets/imagenes/oficial_logo.png" alt="">
      
      <div class="form-group mt-2">
        <h3 class="card-title text-center">Gracias por Registrarte!</h3>
        <p class="text-center">
          Nosotros enviamos el correo de verificacion a : <strong>{{ user?.email }}</strong>
        </p>
        <p class="text-center">
       Por favor, si no te llego el correo has click para generalo nuevamente...
        </p>
    
      <div class="form-group text-center mt-5">
        <button class="btn btn-primary" (click)="onSendEmail()">
          Enviar correo de verificación
        </button>
      </div>
    </div>
    </div>
  </div>
  
  <ng-template #loading>
    <div class="send_email">
    <div class="loader">
      
    </div>
    <h2>Cargando Datos... </h2>
  </div>
  </ng-template>
