  <app-header-artist></app-header-artist>
<div class="componente_generos">
    <app-sidenav-user></app-sidenav-user>
    <div class="crear_generos">
    <h2>Crear Nuevos Género</h2>
    <p>
      En esta sección se puede crear generos musicales, simpre y cuando no hallan sigo creados con anterioridad,si se llenan correctamente se crearan en la ruta generos
    </p>
    <div class="form-group " >


      <form class="formulario_generos" (ngSubmit)="crear_generos()" [formGroup]="generosforms">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Generos" required formControlName="Genero_nuevo">
        </div>
      <div class="form-group">
        

        <input type="file" class="form-control-file" accept="image/*" (change)="selectChange($event)" ><br>

        <img [src]="imgURL" with="100" height="100">

      </div>


      <div class="modal-footer">
        <button  class="btn btn-primary" [disabled]="!generosforms.valid"   type="submit">Crear</button>
       
      </div>
    </form>

  </div>

</div>
</div>
<app-footer-sistem></app-footer-sistem>