.Contenedos_todos_los_generos{
display: flex;
}
.container h2{
    text-align: center;
    font-size: 180% ;  
}
.container{
    
    width:600px;
   
}
.btn_generos{
    border-radius: 10px;
    height: 35px;
    margin-left: 40px;
}

.btn{
    margin: 2px;
    font-size: 80% ;     
}
.imagenes_generos{
    width: 220px;
    height: 200px;
    text-align: center;
}
.imagenes_generos h3{
    text-align: center;  
}
.card{
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
}
