<div class="Completo_generos">
<div class="menu">
  <app-sidenav-user></app-sidenav-user>
</div>
<div class="Contenedos_todos_los_generos ">
  <app-header-artist></app-header-artist>
  <div class="container1 ">
   



    <h2>Todos tus Géneros </h2>

    <p>
      Este módulo te permite visualizar todos tus géneros creados
 </p>
 <hr>
 <div class="container">
  <div class="row">
    <div class="col col-lg-4">
      <a [routerLink]="['/crear-generos']"><button type="button" class="btn_generos btn-primary w-100" (click)=" limpiarform()"
        data-toggle="modal" data-target="#productosModal"> Crear Géneros</button> </a>
    </div>
    <div class="col1 col-lg-4">
      <button  routerLink="/show-artist/{{usuario}}" type="submit" class=" regesar btn_generos btn-primary w-100">Regresar</button>
    </div>
  </div>
</div>
  
    <div class="container col-lg-12 col-md-12 col-sm-12">
      <input type="text" class="hola" placeholder="Buscar por nombre de Género " #textSearch (keyup)="onSearchMensaje(textSearch.value)"/>
      <div class="row">
    <div class="card col-lg-12 col-md-12 col-sm-12 " style="width: 16rem;" *ngFor="let generos of todoslosgeneros | pipeGeneros:page:search let i= index">
      <div class="card-body col-lg-12 col-md-12 col-sm-12   ">
        <img class="imagenes_generos" [src]="generos.imagenUrl" alt="">
       
        <h3>Genero ecuatoriano</h3>
        <h2 class="card-title">{{generos.Genero_nuevo}}</h2>
        
        <a routerLink="/crear-Albumes/{{generos.id}}"  clic="gen(generos.Genero_nuevo)"class="btn btn-success w-100">Crear Álbum</a>
        <button routerLink="/edit-generos/{{generos.id}}"  class="btn btn-primary w-100" >Editar</button>
        
<!--     <button type="button" class="btn btn-danger btn-sm"
          (click)="eliminar_genero(generos)">Eliminar</button> -->
   



      </div>
    </div>
    <br>

  

  </div>


</div>
<div class="container">
  <div class="row">
    <div class="col-3">
     
      <button class="btn btn-secondary" (click)="atras_pagina_mensaje_solicitud()" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg></button>
    </div>
    <div class="col-7">
     
    </div>
    <div class="col-2">
      <button class="btn btn-secondary" (click)="siguiente_pagina_mensaje_solicitud() " [disabled]="(todoslosgeneros | pipeGeneros:page:search).length<1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
      </svg></button> 

    </div>
  </div>
</div>

</div>


</div>
</div>


