.contenedos_edit_generos{
    width: 100%;

    height: 100vh;
}
.Completo_edit_genero{
    display: flex;
}
.col1{
 
    margin-left: 5% !important;
      text-align: right;
  }
.imagenes_generos{
    height: 150px;
    width: 150px;
}
.card{
    margin: 30px;
    height: 320px;
   
}

.modal-footer{
    margin-left: 50% !important; 
    display: inline;  
}
.formulario_generos{
 
  
    
    width: 80%;
 
    margin-left: 15%;
    display: flex;
    margin-top: 7%;
}

.edit_label{
    display: inline;
}
.input-file{
    margin-top: 3%;
    
    

}
.form-control{
    margin-top: 5px;
    margin-left: 2%;
    width: 100%;
}

.avatar_perfil{
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid #666;
    margin-right: 0.1%;
}
.btn{
    margin-top: 3%;
}
.input-group{
    height: 30px;
    margin-top: 10%;
    margin-right: 0px;
    width: 30%;
    display: inline;
    margin-left: 10%;
}
.form-group{
    margin-top: 2%;
    width: 40%;
    margin-left: 1% !important;
}
.contenedor_flex_editar{
  
    
 width: 80%;
 
 margin-left: 5%;

 margin-top: 7%; 
}


.parrafo_informativo h2{
    text-align: center;
    font-size: 180% ;  
}
.parrafo_informativo{
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
}
.error{
    color: red;
}
.red{
    border-color: red; 
}

@media only screen and (max-width: 1200px) {

    .formulario_generos{
     
        width: auto;
        display: inline;      
        margin-top: 7%;     
    } 
   
   
   
    
        
}

