.navbar-brand{
  display:contents;

}
.navbar-brand img{
  width:90px;
  height:60px;
  
}

.home{
    text-decoration: none;
    color: aliceblue;
    margin-left: 4%;
  }
  .home img{
    width:90;
  height:60px;

  }
  .nav-link{
    color: aliceblue;
  }
  .container-fluid{
    justify-content: end;
  
  }
  .nav{
    height: 40px;
  }