<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      

      <ul class="nav justify-content-end">      
     
       <!--  <li  class="nav-item" >
          <a class="nav-link" [routerLink]="['/administrador']">Inicio</a>
        </li> 
        <li  class="nav-item" >
          <a class="nav-link" [routerLink]="['/administrador']">Perfil</a>
        </li> 
        <li  class="nav-item" >
          <a class="nav-link" [routerLink]="['/administrador']">Solicitud</a>
        </li> 
        <li  class="nav-item" >
          <a class="nav-link" [routerLink]="['/administrador']">Salir</a>
        </li>--> 
       
        
      </ul>
    </a>
  </div>
</nav>
