<style>
    
    .Pagina_principal_derecha{
        display: flex;
    }
    .Pagina_principal_izquierda{
        background: wheat;
        text-align: center;
    }
    .Pagina_principal_izquierda img{
        margin-top: 30px;
    }
   
    
</style>
<div class="Pagina_principal col-lg-12 col-md-12 col-sm-12">
    <div class="row col-lg-12 col-md-12 col-sm-12">
      <div class="col Pagina_principal_derecha col-lg-6 col-md-12 col-sm-12">
          <img src="https://images.pexels.com/photos/3756766/pexels-photo-3756766.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="900px">
        </div>
          <div class="col Pagina_principal_izquierda col-lg-6 col-md-12 col-sm-12">
            <h3>TAKI-TRI</h3>
        <img src="https://i1.sndcdn.com/artworks-000008732541-ibekin-t500x500.jpg">
         
          <h4>Recuperemos nuestra identidad culturar sin interupciones</h4>
     
      </div>
    </div>
  </div>

