.navbar-brand{
  display:contents;

}
.navbar{
  color: beige;
}
.navbar-brand img{
  width:90px;
  height:60px;
  
}


.navbar-brand{
  display:contents;

}
.navbar-brand img{
  width:90px;
  height:60px;
  
}

.home{
    text-decoration: none;
    color: aliceblue;
    margin-left: 1%;
  }
  .home img{
    width:60px;
    height:60px;
    border-radius:150px;

  }
  .nav-link{
    color: aliceblue !important;
  }

.masthead{
  background: linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  line-height:90% 
}
.masthead-avatar{
  height: 300px;
  margin-top: 5%;
}
.masthead-heading {
  font-size: 450%;

}
.row3{
  display: flex;

}
.row{
  display:inline-block
}
.acerca{
  line-height: 150%;
}
.portfolio-item {
  padding: 5%;
}
.titulo_h3{
  text-align: center;
  font-size: 150%;
}
.page-section-heading{
  font-size: 200%;
}
.lead1{
  color: black;
}
.page-section-heading {
  font-size: 200%;
  color: black;
}
.page-section1{
  
 
  background: linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.page-section2{
  margin-bottom: 0%;

}
.lead2{
  line-height: 150%;
}
.masthead-subheading{
  line-height:350% 
}



@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}