

<app-header-admin></app-header-admin>
<div class="Visualizacion_artistas_completa">
    <app-sidenav></app-sidenav>
<div class="formulario_completo_artistas">
    <h2>Candidatos a artistas</h2>
    <p>En esta sección se visualiza, todas las solicitudes enviadas por los artista para ser parte de Taki-Tri,las mismas que son analizadas 
         por el administrador, quien evalua los datos enviados y procede aceptar o rechazar las solicitudes respectivas.
        Para que una solicitud sea rechazada ,los datos enviados no son correctos, o el documento PDF, no cuenta con los datos solicitados,
         o se encuentra con datos no correctos del Artista.
    </p>
    <tr>
        <th> <a class="nav-link" routerLink="/administrador">Solicitud </a></th>
        <th> <a class="nav-link" routerLink="/solicitud-aceptadas">Aceptadas </a></th>
        <th> <a class="nav-link" routerLink="/solicitud-rechazadas">Rechazadas </a></th>
      
    
   
      
        
        
       

       
    </tr>
    
<table class="table table-hover ">
    <thead class="text-white">
  
    </thead>
      <br>
    <thead class=" text-white">
        <input type="text" class="form-control " placeholder="Buscar Solicitud" #textSearch (keyup)="onSearchMensaje(textSearch.value)"/>
   
        <tr class="nombre_list">
            <th>N.-</th>
            <th>Nombre Artistico</th>
            <th>Numero de Cédula</th>   
             <th>Documento</th>          
        </tr>
    </thead>
    <tbody>
 
         
        <tr *ngFor="let administrador of Administrador | filtroSolicitud:page:search let i= index   "  >
           <td>{{page+i+1}}</td>
            <td>{{administrador.nombre_artistico}}</td>
            <td>{{administrador.nacionalidad}}</td>
        
          <td> <a [href]="administrador.document" target="_blank"  rel="noopener noreferrer" ><img src="https://www.science.co.il/internet/browsers/PDF-doc-256.png" style="height:50px" alt=""></a></td>
             


          <!-- <td>{{administrador.rol}}</td>!-->
           
            <td>
               
                <button (click)="convertToArtist(administrador)" class="btn btn-primary">Aceptar</button>
                <button (click)="convertToArtist_rechazado(administrador)"  class="btn btn-outline-danger">Rechazar</button>
            </td>

        </tr>
    </tbody>
</table>
<mat-paginator [length]="cantidad_de_solicitud"
              [pageSize]="pageSize"
              (page)="cambiarpagina($event)"
            
              aria-label="Select page">
              
</mat-paginator>
</div>
</div>

<app-footer-sistem></app-footer-sistem>