

<app-header-admin></app-header-admin>
<div class="Visualizacion_artistas_completa">
    <app-sidenav></app-sidenav>
<div class="formulario_completo_artistas">
    <h2>Candidatos a artistas</h2>
    
<table class="table table-hover ">
    <thead class="text-white">
        <tr>
            <th> <a class="nav-link" routerLink="/administrador">Solicitud </a></th>
            <th> <a class="nav-link" routerLink="/solicitud-aceptadas">Aceptadas </a></th>
            <th> <a class="nav-link" routerLink="/solicitud-rechazadas">Rechazadas </a></th>
       
          
            
            
           

           
        </tr>
    </thead>
      <br>
    <thead class=" text-white">
        <tr class="nombre_list">
            <th>N.-</th>
            <th>Nombre Artistico</th>
            <th>Numero de Cédula</th>   
             <th>Documento</th>          
        </tr>
    </thead>
    <tbody>
 

        <tr *ngFor="let administrador of Administrador | slice:desde:hasta let i= index  "  >
            <td>{{desde+i+1}}</td>
            <td>{{administrador.nombre_artistico}}</td>
            <td>{{administrador.nacionalidad}}</td>
        
          <td> <a [href]="administrador.document" target="_blank"  rel="noopener noreferrer" ><img src="https://www.science.co.il/internet/browsers/PDF-doc-256.png" style="height:50px" alt=""></a></td>
             


          <!-- <td>{{administrador.rol}}</td>!-->
           
            <td>
               
                <button (click)="convertToArtist(administrador)" class="btn btn-primary">Aceptar</button>
                <button (click)="convertToArtist_rechazado(administrador)"  class="btn btn-outline-danger">Rechazar</button>
            </td>

        </tr>
    </tbody>
</table>
<mat-paginator [length]="cantidad_de_solicitud"
              [pageSize]="pageSize"
              (page)="cambiarpagina($event)"
            
              aria-label="Select page">
              
</mat-paginator>
</div>
</div>

