.Visualizacion_artistas_completa{
    display: flex;
}
.formulario_completo_artistas{
 margin-top: 30px;

 width: 100%;
 height: 100%;

 margin-bottom: 0% !important;
 padding-left: 5%;
 padding-right: 5%;
}
.formulario_completo_artistas h2{
    text-align: center;
    font-size: 180% ;
}

.table {
    width: 99%;
  
  }
  .nav-link{
    color: black;
}
.text-white{
    width: auto;
  
    color: black;
}
.btn{
    margin-left: 20px;
  
    
}
.hola{
    width: 99%;
    height: 50px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    border-bottom-left-radius:5px ;
    
    border-bottom-right-radius:5px ;
}
.nombre_list{
    color: black;
    
}


  
 