.Visualizacion_artistas_completa{
    display: flex;
}
.formulario_completo_artistas{
 margin-top: 30px;
 margin-left: 100px;
 width: 800px;
 height: 900px;
}
.table {
    width: 100%;
  }
  .nav-link{
    color: black;
}
.text-white{
    color: black;
}
.nombre_list{
    color: black;
}

  
 