.formulario_forgot_password{
    display: flex;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2D31FA, #41ACDA,#5D8BF4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80%;
}
.imagen_forgot_password{
    width: 50%;
    max-height: auto;
 

    background-position-x: center;
    background-image: url("https://images.pexels.com/photos/12311203/pexels-photo-12311203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
   
}
.card{
    
    margin-left: 150px;   
}

/*
.card-title{
    margin-top: 80px; 
    text-align: center;
    align-items: center;
    width: 200px;
}*/
.card-header{
    color: white;
}
.card-body{
    text-align: center;
    align-items: center;
   
    width: auto;
    height: auto;
    padding: 0% !important;

 
 
}
.imagen{
    margin-top: 5%;
    margin-bottom: 5%;
}



.form-control{
 width: 75%;
text-align: center;
margin-left: 15%;


}

.btn{
    margin-top: 30px;
    border-radius: 30px;
    background: #2D31FA;
    color:white;
}
.final_de_pagina{
    color: aliceblue;
}
.nav-link{
    color: aliceblue;
}

