.formulario_forgot_password{
    display: flex;
}
.formulario_forgot_password img{
    width: 700px;
    height: 700px;
    padding-right: 30px;
   
}
.card{
    margin-top: 30px;
    margin-left: 150px;   
}
/*
.card-title{
    margin-top: 80px; 
    text-align: center;
    align-items: center;
    width: 200px;
}*/

.card-body{
    text-align: center;
    align-items: center;
   
    width: 200px;
 
}
.card body h2{
margin-top: 30px;
}
.card-body h3{
    margin-top: 30px;  
}

.form-control{
width: 300px;
margin-left: 130px !important;

}

.btn{
 
    margin-top: 30px;
}