<app-header></app-header>

<div class="formulario_forgot_password">
  <div class="imagen_forgot_password">

  </div>
  
    <div class="card-body ">  
      <div class="card-header">
        Recuperar contraseña
       </div>
      <img class="imagen" src="assets/imagenes/oficial_logo.png" alt="" width="120px" height="120px">
      <div class="form-group m-2">
        <input type="email"class="form-control" [formControl]="userEmail"required placeholder="correo electrónico" />
      </div>
      <div class="form-group text-center">
        <button [disabled]="userEmail.invalid" class="btn  " (click)="onReset()" >
          Enviar el correo
        </button>
        
      </div>
    </div>

</div>
<footer class="final_de_pagina  " style="background-color:#1a252f ">
  
  <div class="copyright py-4 text-center text-white ">
      
      <a class="nav-link active" aria-current="page" routerLink="/sobrenosotros">¿Quiénes Somos?</a>
    
    
      <a class="nav-link active" aria-current="page" routerLink="/mision-vision">Misión y Visión</a>
    
  <div class="container"><small>Copyright &copy; Taki-Tri 2022</small></div>
  </div>
  </footer>