.Visualizacion_artistas_completa_aceptados{
    display: flex;
}
.formulario_completo_artistas_aceptados{
    margin-top: 30px;

    width: 100%;
    height: 90%;
   
    margin-bottom: 0% !important;
    padding-left: 5%;
    padding-right: 5%;
}
 .formulario_completo_artistas_aceptados h2{
    text-align: center;
    font-size: 180% ;
 }

.nav-link{
    color: black;
}
.text-white{
    color: black;
}
.nombre_list{
    color: black;
}