.Visualizacion_artistas_completa_aceptados{
    display: flex;
}
.formulario_completo_artistas_aceptados{

    margin-top: 30px;
    margin-left: 100px;
    width: 800px; 
    height: 900px;
}
.formulario_completo_artistas_aceptados p{
    color:black;
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-right-width: 10px;
    border-top-color:black;
    border-right-color:black;
    border-left-color:black;
    border-bottom-color:black;
    padding: 5px;
    margin-bottom: 20px;
}

.nav-link{
    color: black;
}
.text-white{
    color: black;
}
.nombre_list{
    color: black;
}