<app-header-admin></app-header-admin>
<div class="Visualizacion_artistas_completa_aceptados">
    <app-sidenav></app-sidenav>
<div class="formulario_completo_artistas_aceptados">
    <h2>Artista Rechazados </h2>

<table class="table table-hover ">

    <thead class=" text-white">
        <tr>
            <th> <a class="nav-link" routerLink="//administrador">Solicitud </a></th> 
            <th> <a class="nav-link" routerLink="/solicitud-aceptadas">Aceptadas </a></th>
            <th> <a class="nav-link" routerLink="/solicitud-rechazadas">Rechazadas </a></th>
                     
        </tr>
        <tr class="nombre_list">
            <th >N.-</th>
            <th>Nombre Artistico</th>
            <th>Nacionalidad</th>
            
            
           

           
        </tr>
      
    </thead>
    <tbody>
        <tr *ngFor="let administrador of Administrador | slice:desde:hasta let i= index" >
            <td>{{desde+i+1}}</td>
            <td>{{administrador.nombre_artistico}}</td>
            <td>{{administrador.nacionalidad}}</td>
          <!--  <td>{{administrador.rol}}</td>!-->
           
            <td>
               
                <!--usuario de twitter <button (click)="convertToArtist(administrador)" class="btn btn-success">Aceptar</button>-->
            </td>

        </tr>
    </tbody>
</table>
<mat-paginator [length]="cantidad_solicitud_rechazadas"
              [pageSize]="pageSize"
              (page)="cambiarpagina($event)"
            
              >
              
</mat-paginator>
</div>
</div>


