
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" >
    <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        {{roles_admin}}
      </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
        <a routerLink="/show/{{usuario}}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="60"></svg>
         Perfil
        </a>
      </li>

    <li>
        <a routerLink="/dashboard" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="60"></svg>
         Hogar
        </a>
      </li>
    
    <li>
      <a routerLink="/administrador" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"></svg>
        {{mostrar_solicitud_Nuevas}}
      </a>
    </li>
    <li  >
      <a routerLink="/solicitud-aceptadas" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"></svg>
        {{mostrar_solicitud_Aprobadas}}
      </a>
    </li>
    <li  >
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"><use xlink:href="#people-circle"/></svg>
        {{mostrar_solicitud_Rechazadas}}
      
      </a>
      
    </li>
    <li>
      <a routerLink="/solicitud" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"></svg>
        {{mostrar_enviar_solicitud}}
      </a>
    </li>
  
  <li>
  </ul>
  <br>
  

  <hr>
</div>