<style>
    .final_de_pagina{
      
      background-color:#1a252f;
      color:white;  
     
    }
    .final_de_pagina a{
      color:white;
      font-size: large; 
      
    }
    .nav-link active {

      text-align: left;
      color:aliceblue
    }
</style>
<footer class="final_de_pagina  ">
  <br>
 
  
    <a class="nav-link active" aria-current="page" routerLink="/sobrenosotros">¿Quiénes Somos?</a>
  
  
    <a class="nav-link active" aria-current="page" routerLink="/mision-vision">Misión y Visión</a>
  

</footer>
