.contenedos_edit_generos{
    display: flex;
}
.formulario_albumes_completo{
   
width: auto;

 display: flex;
}

.formulario_albumes{
  
   width: 450px;
    margin-top: 15%;
   
  
  
 
}
.input-group{
    max-width: 250%;
}
.imagenes_albumes img{
    margin-top: 30%;
    margin-left: 10%;
    height: 150px;
    width: 150px;
    align-items: center;
    text-align: center;
    
    
  
    border-radius:150px;
    border:2px solid #666;
   
}
.imagenes_albumes{
    margin-left: 7%;  
    width: 40%;
}
.input-file{
    margin-top: 5%;
    margin-left: 10%; 
}
.parrafo_informativo p{
    color:black;
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-color:black;
    border-right-color:black;
    border-left-color:black;
    border-bottom-color:black;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}
.parrafo_informativo h2{
    text-align: center;
    font-size: 180% ;
}
.input_label_edit{
    display: inline;
    margin-bottom: 30px;
}
.input-group{
    display: inline;
    width: 80%;
}
.form-control{
width: 80%;
}
.btn{
    margin-top: 3%;
}