.contenedos_edit_generos{
    display: flex;
}
.formulario_albumes_completo{
   
width: auto;

 display: flex;
}

.formulario_albumes{
  
   width: 60%;
    margin-top: 10%;
    margin-left: 10%;
}
.form-control{
    width:100%;
}

.input-group{
    width: auto;
  
}
.imagenes_albumes img{
    margin-top: 30%;
    margin-left: 10%;
    height: 150px;
    width: 150px;
    align-items: center;
    text-align: center;
    
    
  
    border-radius:150px;
    border:2px solid #666;
   
}
.imagenes_albumes{
    margin-left: 7%;  
    width: 40%;
}
.input-file{
    margin-top: 5%;
    margin-left: 10%; 
}
.parrafo_informativo {
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
}
.parrafo_informativo h2{
    text-align: center;
    font-size: 180% ;
}
.input_label_edit{
    display: inline;
    margin-bottom: 30px;
}
.input-group{
    display: inline;
    width: 80%;
}
.form-control{
width: 100%;
}
.btn{
    margin-top: 3%;
    margin-bottom: 3%;
}
.error{
    color: red;
    
   
 }
 .red{
    border-color: red; 
 }
 .col1{
    margin-left: 25%;
 }