<app-header-artist></app-header-artist>
<div class="formulario">
    <app-sidenav-user></app-sidenav-user>
<div class="formulario_solicitud">
  <h2>Enviar Solicitud</h2>
  <p>En esta sección los artistas pueden enviar una solicitud, para poder tener acceso a los modulos de generos,albumes y canciones, ademas de poder ver las respuestas por parte del administrador si la solicitud fue rechazada.
    Además puede descargar el documento para la solicitud solicitada en TAKI-TRI
  </p>

 



<form [formGroup]="solicitudlForm" (ngSubmit)="onSubmit()" novalidate class="form_solicitud_completo">
  <div class="imagen_avatar">
    
   
    <img src="https://www.science.co.il/internet/browsers/PDF-doc-256.png" alt="" class="avatar_perfil">
    <h4> <u>Descargar aquí </u></h4>
     </div>
  <div class="form_soli">
    <div class="mb-3">
        <label class="form-label">Nombre Artistico</label>
        <input formControlName="nombre_artistico" type="text" class="form-control" required placeholder="Nombre Artistico">
    </div>
    <div class="mb-3">    
        <label class="form-label">Número de Cédula</label>
        <input maxlength="10" minlength="10" formControlName="nacionalidad" type="text" class="form-control" required placeholder="Cédula">
    </div>
    <div class="form-group">
        

    <input type="file" class="form-control-file" accept="application/pdf" (change)="selectChange($event)" ><br>      

      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled required  >
        <label class="form-check-label" for="flexCheckChecked">
            Acepto Terminos y Condiciones
        </label>
      </div>

    
       
    <button [disabled]="!solicitudlForm.valid" type="submit" class="btn btn-primary">Save</button>
        
  </div>  
</form>
<hr>
<div class=" contenedor_mensaje_solicitud"  >
 
<h4>Mensajes de estado de Solicitud</h4> 
<input type="text" class="form-control mb-2" placeholder="Buscar..." #textSearch (keyup)="onSearchMensaje(textSearch.value)"/>
       
        <div *ngFor="let administrador of MensajeSolicitud  | filtro:page:search" class="mensaje" >
         
        <thead >
          <tr >
            <th scope="col">Solicitud rechazada el  {{administrador.hora}}   
            </th>
            
          </tr>
        </thead>
          <table class="table table-striped">
        <tbody>
          <tr >
            
            <td>Motivo : {{administrador.mensaje}}</td>
          
           
      
               <button type="button" class="btn1 btn-danger" (click)="eliminar(administrador)">Eliminar</button>
           
              
          </tr>
       
        </tbody>
      </table> 
  

     
    </div>
   
  </div>
  <button class="btn btn-primary" (click)="atras_pagina_mensaje_solicitud()" >Anterior</button>
  <button class="btn btn-primary" (click)="siguiente_pagina_mensaje_solicitud() " [disabled]="(MensajeSolicitud  | filtro:page:search).length<1">Siguiente</button> 
 
</div>

</div>
<app-footer-sistem></app-footer-sistem>

