
<div class="Completo_solicitud  bg-dark">
  <div class="menu">
    <app-sidenav-user></app-sidenav-user>
  </div>
  <div class="formulario">
    <app-header-artist></app-header-artist>
  <div class="formulario_solicitud">
    <h2>Enviar Solicitud</h2>
    <p>
      En este módulo puedes enviar una solicitud para que puedas gestionar tu contenido como artista
     
    </p>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col col-lg-2">
         
        </div>
        <div class="col col-lg-5">
          
        </div>
        <div class="col1 col-lg-3">
          <button  routerLink="/show-artist/{{usuario}}" type="submit" class=" regesar btn_regresar btn-primary w-100">Regresar</button>
        </div>
      </div>
    </div>
   
  
  
  
  <form [formGroup]="solicitudlForm" (ngSubmit)="onSubmit()" novalidate class="form_solicitud_completo">
    <div class="imagen_avatar">
      
     
      <img src="https://www.science.co.il/internet/browsers/PDF-doc-256.png" alt="" class="avatar_perfil">
      <h4><a href="https://docs.google.com/document/d/1cV-RGKrnK7ly0Rnc8Mr_VBR38qppJ_UoRxtUOoxE7Wk/edit?usp=sharing" target="_blank"  rel="noopener noreferrer" > <u>Descargar aquí </u></a></h4>
      
       </div>
    <div class="form_soli">
      <div class="mb-3">
          <label class="form-label">Nombre Artístico</label>
          <input  maxlength="25" minlength="3" formControlName="nombre_artistico" type="text" class="form-control" required placeholder="nombre artístico" ngModel pattern="^[a-zA-Z\s\u00F1\u00D1\u00E0-\u00FC]+$"  [class.red]="nombreArtistico_no_valido">
          <label class="error"  *ngIf="nombreArtistico_no_valido" >{{getErrorMessage_nombre()}}</label>  
        </div>
      <div class="mb-3">    
          <label class="form-label">Número de Cédula</label>
         
          <input maxlength="10" minlength="10" formControlName="nacionalidad" type="text" class="form-control" required placeholder="cédula" ngModel pattern="^0[0-9]|[0-9]\d$" [class.red]="cedula_no_valido">
          <label class="error"  *ngIf="cedula_no_valido" >{{getErrorMessage_cedula()}}</label>  
        </div>
      <div class="form-group">
          
  
      <input type="file" class="form-control-file" accept="application/pdf" (change)="selectChange($event)" ><br>      
  
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled required  >
          <label class="form-check-label" for="flexCheckChecked">
              Acepto términos y Condiciones
          </label>
        </div>
  
      
         
      <button [disabled]="!solicitudlForm.valid" type="submit" class="btn btn-primary w-100">Guardar</button>
          
    </div>  
  </form>
  
  <div class=" contenedor_mensaje_solicitud"  >
    
  <h2>Mensajes de estado de Solicitud</h2> 
  <p>
    En este módulo te permite visualizar  los mensajes de el estado de tu solicitud
  <hr>
  <div *ngIf="mostar==1 else mensaje" >
  <input type="text" class="form-control mb-2" placeholder="Buscar por mensaje" #textSearch (keyup)="onSearchMensaje(textSearch.value)"/>



          <div *ngFor="let administrador of MensajeSolicitud  | filtro:page:search" class="mensaje" >
           
          <thead >
           
          </thead>
            <table class="table ">
          <tbody>
            <tr >
              <th scope="col">Solicitud rechazada el  {{administrador.hora}}   
              </th>
              <td>Motivo : {{administrador.mensaje}}</td>
              <td class="botoneseliminarSolicitud col-3">    <button type="button" class="btn1  btn btn-danger w-50" (click)="eliminar(administrador)">Eliminar</button></td>
  
            </tr>
        
          </tbody>
        </table> 
    
  
       
      </div>
      
     <br>
   
 
   

    <!---->
    <div class="container">
      <div class="row">
        <div class="col-3">
         
          <button class="btn btn-secondary" (click)="atras_pagina_mensaje_solicitud()" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg></button>
        </div>
        <div class="col-7">
         
        </div>
        <div class="col-2">
          <button class="btn btn-secondary" (click)="siguiente_pagina_mensaje_solicitud() "  [disabled]="(MensajeSolicitud  | filtro:page:search).length<1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg></button> 
    
        </div>
      </div>
    </div>
  </div>
  <ng-template #mensaje>
    <h3 class="">
       No hay mensajes ...
        </h3>
    </ng-template>
</div>  



  </div>
</div>
</div>




