<app-header-artist></app-header-artist>
<div class="formulario">
    <app-sidenav-user></app-sidenav-user>
<div class="formulario_solicitud">
<p>Solicitud</p>
<h2>Enviar Solicitud</h2>
<form [formGroup]="solicitudlForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label class="form-label">Nombre Artistico</label>
        <input formControlName="nombre_artistico" type="text" class="form-control" required>
    </div>
    <div class="mb-3">    
        <label class="form-label">Numero de Cédula</label>
        <input maxlength="10" minlength="10" formControlName="nacionalidad" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        

    <input type="file" class="form-control-file" accept="application/pdf" (change)="selectChange($event)" ><br>      

      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled required  >
        <label class="form-check-label" for="flexCheckChecked">
            Acepto Terminos y Condiciones
        </label>
      </div>

    
       
    <button [disabled]="!solicitudlForm.valid" type="submit" class="btn btn-primary">Save</button>
        
    
</form>
</div>


</div>

