.sidebar-header{
    background: rebeccapurple;
    width: 250px;
}
.list-unstyled {
    background: red;
    width: 250px;
    height: 100%;
}
.d-flex {
    height: 100%;
    width: 300px;
    display: flex;
    
}
.navbar-brand{
    display:contents;
  
  }
  .avatar_perfil{
    width:80px;
    height:80px;
    border-radius:150px;
    border:5px solid #666;
    text-align: center;
    margin-left: 40px;
 
  }
  .home{
      text-decoration: none;
      color: aliceblue;
    }
    .nav-link{
      color: aliceblue;
    }
    .titulo{
      margin-left: 50px;
    }
    .nombre{
      padding: 2px;
      margin-left: 57px; 
    }

    @media only screen and (min-width: 1500px) {

      .d-flex{
        height: 100vh;
         background-color: blueviolet;
         color: red; 
       
      }  
  }
