.sidebar-header{
    background: rebeccapurple;
    width: 250px;
}
.list-unstyled {
    background: red;
    width: 250px;
    height: 100%;
}
.d-flex {
    height: 100%;
    width: 300px;
    display: flex;
    
}
.navbar-brand{
    display:contents;
  
  }
  .home{
      text-decoration: none;
      color: aliceblue;
    }
    .nav-link{
      color: aliceblue;
    }

    @media only screen and (min-width: 1500px) {

      .d-flex{
        height: 1500px;
         background-color: blueviolet;
         color: red; 
       
      }  
  }
