
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" >
    <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
      Artista
      </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
        <a routerLink="/show-artist/{{usuario}}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="60"></svg>
         Perfil-user
        </a>
      </li>

    <li>
        <a routerLink="/dashboard-user" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="60"></svg>
         Hogar
        </a>
      </li>
    
    <li>
      <a routerLink="/generos" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"></svg>
        Generos
      </a>
    </li>
    <li>
      <a routerLink="/Albumes" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"></svg>
        Albumes
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"><use xlink:href="#people-circle"/></svg>
      Buscar
      </a>
      
    </li>
    <li>
      <a routerLink="/solicitud" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="60"></svg>
      Solicitud
      </a>
    </li>
  
  <li>
  </ul>
  <br>
  

  <hr>
</div>
